*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x:hidden;
}
header{
    height: 100px;
    background-color: #efefef;
    color: black;
}
.header{
    max-width: 1140px;
    height: 100px;
    display: flex;
    align-items: center;
    margin: auto;
}
.logo{
    width: 100px;
}
.logoimg{
    display: flex;
}
.logo img{
    width: 100px;
    height: 100%;
}
.menu{
    flex: 1;
    display: flex;
    justify-content:flex-end ;
}
.menu ul{
    display: flex;
}
.menu ul,
.menu li{
    list-style: none;
}
.menu li a{
    color: black;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #efefef;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
}